<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.admin.webapi.mapper.AdminMapper">

    <!--int insert(AdminVO adminVO);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_admin (username, password, nickname, avatar,
                               phone, email, description, is_enable

            )values(#{username}, #{password}, #{nickname}, #{avatar},
                #{phone}, #{email}, #{description}, #{isEnable}
               )
    </insert>


</mapper>
